
webapp recordings/Phone view.mp4
webapp recordings/Admin view.mp4
delivery/lib/stripe/stripe_service.dart
delivery/lib/stripe/stripe_service.dart
latex.txt
Screenshots/webapp.mp4
Screenshots/UploadImagem.png
Screenshots/SignUpAndroid.png
Screenshots/RespondeComandos.png
Screenshots/PT.png
Screenshots/ProductDetails.png
Screenshots/ProcuraFuncionalidades.png
Screenshots/mobile app.mp4
Screenshots/MapView.png
Screenshots/LogInPC.png
Screenshots/LoginEficaz.png
Screenshots/LoginAndroid.png
Screenshots/ListaProdutosPC.png
Screenshots/ListaProdutosAndroid.png
Screenshots/intuitiva.png
Screenshots/EN.png
Screenshots/CriarProduto.png
Screenshots/Braintree.png
Screenshots/awnsers.png
Screenshots/AddToCart.png
